* {
	font-size: 14px;
	font-family: monospace;
}

window#waybar {
	background: rgba(41,43,46,1);
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: rgba(26,26,26,1);
	border: none;
}

#workspaces,
#window,
#clock,
#backlight,
#temperature,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#custom-wattage {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 1px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 1px;
}

#backlight {
	color: #d17525;
}
#temperature {
	color: #ce3b3b;
}
#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}
#custom-wattage {
	color: lightblue;
}

#clock,
#window,
#temperature,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#custom-wattage {
	padding: 0 8px;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}
